Tenda.EmpresaVenda.Domain/Web References/GerarRequisicaoDeCompraZeus/GerarRequisicaoCompra0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://br.com.tenda.zeus/cadastro/request" xmlns:ns2="http://br.com.tenda.zeus/cadastro/response" name="GerarRequisicaoCompra" targetNamespace="http://br.com.tenda.zeus/cadastro/request" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://br.com.tenda.zeus/cadastro/request" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://br.com.tenda.zeus/cadastro/request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="DadosAuditoria" type="tns:dadosAuditoria" />
      <xs:element name="requisicaoCompraRequest" type="tns:requisicaoCompraRequest" />
      <xs:element name="requisicaoCompraResponse" type="tns:requisicaoCompraResponse" />
      <xs:complexType name="dadosAuditoria">
        <xs:sequence>
          <xs:element name="sistema" type="xs:string" />
          <xs:element name="usuario" type="xs:string" />
          <xs:element name="dataTransacao" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requisicaoCompraRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="requisicoesCompra" type="tns:requisicaoCompraRequestItem" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requisicaoCompraRequestItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="itemRequisicao" type="tns:itemRequisicao" />
          <xs:element minOccurs="0" name="designacaoContaRequisicao" type="tns:contabilizacaoRequisicao" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="itemRequisicao">
        <xs:sequence>
          <xs:element minOccurs="0" name="numero" type="xs:string" />
          <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
          <xs:element minOccurs="0" name="numeroItem" type="xs:int" />
          <xs:element minOccurs="0" name="grupoCompradores" type="xs:string" />
          <xs:element minOccurs="0" name="nomeRequisitante" type="xs:string" />
          <xs:element name="dataSolicitacao" type="xs:dateTime" />
          <xs:element minOccurs="0" name="textoBreve" type="xs:string" />
          <xs:element minOccurs="0" name="numeroMaterial" type="xs:string" />
          <xs:element minOccurs="0" name="centroDeCusto" type="xs:string" />
          <xs:element minOccurs="0" name="grupoMercadorias" type="xs:string" />
          <xs:element name="quantidade" type="xs:int" />
          <xs:element minOccurs="0" name="unidadeMedida" type="xs:string" />
          <xs:element minOccurs="0" name="tipoData" type="xs:string" />
          <xs:element name="dataRemessaItem" type="xs:dateTime" />
          <xs:element name="dataLiberacao" type="xs:dateTime" />
          <xs:element name="preco" type="xs:double" />
          <xs:element name="precoUnidade" type="xs:double" />
          <xs:element minOccurs="0" name="categoriaItemDocumentoCompra" type="xs:string" />
          <xs:element minOccurs="0" name="categoriaClassificacaoContabil" type="xs:string" />
          <xs:element minOccurs="0" name="codigoEntradaMercadorias" type="xs:string" />
          <xs:element minOccurs="0" name="codigoEntradaFaturas" type="xs:string" />
          <xs:element minOccurs="0" name="fornecedorPretendido" type="xs:string" />
          <xs:element minOccurs="0" name="organizacaoDeCompras" type="xs:string" />
          <xs:element minOccurs="0" name="codigoMoeda" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="contabilizacaoRequisicao">
        <xs:sequence>
          <xs:element minOccurs="0" name="numero" type="xs:string" />
          <xs:element name="numeroItem" type="xs:int" />
          <xs:element name="numeroSeqSegmentoClasseContabil" type="xs:int" />
          <xs:element name="quantidade" type="xs:double" />
          <xs:element name="divisao" type="xs:string" />
          <xs:element name="centroCusto" type="xs:string" />
          <xs:element name="numeroOrdem" type="xs:string" />
          <xs:element name="areaContabilidadeCustos" type="xs:string" />
          <xs:element name="centroDeLucro" type="xs:string" />
          <xs:element name="numeroContaRazao" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requisicaoCompraResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="requisicaoCompra" type="tns:requisicaoCompraResponseItem" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requisicaoCompraResponseItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="numero" type="xs:string" />
          <xs:element minOccurs="0" name="texto" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="AuditoriaHeader" nillable="true" type="tns:dadosAuditoria" />
      <xs:element name="GerarRequisicaoCompraRequest" nillable="true" type="tns:requisicaoCompraRequest" />
    </xs:schema>
    <xsd:schema xmlns="http://br.com.tenda.zeus/cadastro/response" xmlns:tns="http://gerarrequisicaodecompra.cadastro.webservice.tenda.com.br/" xmlns:ns0="http://br.com.tenda.zeus/cadastro/request" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://br.com.tenda.zeus/cadastro/response">
      <xsd:import namespace="http://br.com.tenda.zeus/cadastro/request" />
      <xsd:element name="GerarRequisicaoCompraResponse" nillable="true" type="ns0:requisicaoCompraResponse" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GerarRequisicaoCompraResponse">
    <wsdl:part name="GerarRequisicaoCompraResponse" element="ns2:GerarRequisicaoCompraResponse" />
  </wsdl:message>
  <wsdl:message name="GerarRequisicaoCompra">
    <wsdl:part name="AuditoriaHeader" element="ns1:AuditoriaHeader" />
    <wsdl:part name="GerarRequisicaoCompraRequest" element="ns1:GerarRequisicaoCompraRequest" />
  </wsdl:message>
  <wsdl:portType name="GerarRequisicaoCompra">
    <wsdl:operation name="GerarRequisicaoCompra">
      <wsdl:input name="GerarRequisicaoCompra" message="ns1:GerarRequisicaoCompra" />
      <wsdl:output name="GerarRequisicaoCompraResponse" message="ns1:GerarRequisicaoCompraResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>