Tenda.Domain/Web References/Tenda.CEP/BuscaCEPPSv1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://buscacep.tenda.br.com/" targetNamespace="http://buscacep.tenda.br.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PesquisaCEPFault" nillable="true" type="tns:pesquisaCEPFault" />
  <xs:element name="pesquisarEnderecoPorCEP" type="tns:pesquisarEnderecoPorCEP" />
  <xs:element name="pesquisarEnderecoPorCEPResponse" type="tns:pesquisarEnderecoPorCEPResponse" />
  <xs:complexType name="pesquisarEnderecoPorCEP">
    <xs:sequence>
      <xs:element minOccurs="0" name="cep" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pesquisarEnderecoPorCEPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="enderecoResponse" type="tns:endereco" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="endereco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="logradouro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="uf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="cep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="logradouroAbrev" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pesquisaCEPFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="faultCode" type="xs:string" />
      <xs:element minOccurs="0" name="faultString" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>